#contact{
    #contact-data{
    	width: 68%;
    	overflow: hidden;
    	margin: 0 auto;
    	li{
    		padding: 0 15px;
    		float: left;
    		width: 33%;
    	}
    }
}
.section-style{
	letter-spacing: 1px;
	text-align: center;
	width: 1170px;
	padding: 0 15px;
    margin: 0 auto;
	margin-bottom: 20px;
    overflow: hidden;
}
#mail-section{
	width: 650px;
	input, textarea{
		border-radius: 0;
		border: 1px solid #000;
	}
	textarea{
		resize: none;
	}
	.contact-data{
		margin-top: 20px;
	}
	.map-section{
		margin-bottom: 10px;
	}
	h3{
		margin-bottom: 20px;
	}
}
#success{
	background-color: $main-color;
	padding: 250px 50px 85px 50px;
	h2{
		font-size: 60px;
	    font-weight: 400;
	    letter-spacing: 4px;
	    padding: 12px;
	    width: 85%;
	    background-color: #000;
	    color: #fff;
	}
	p{
		font-size: 20px;
    	margin-bottom: 40px;
    	margin-top: 20px;
	}
}