// Import files
@import '_home';
@import '_contact';
@import '_cv';
@import '_gallery';
@import '_variables';

//Common styles across the web
/* Menu NavBar */
.menu-navbar{
	background-color: #121d1f;
	color: #fff;
	text-transform: uppercase;
	ul{
		float: right;
		list-style-type: none;
		height: 60px;
		li{
			a{
				text-decoration: none;
				font-size: 15px;
				color: #fff;
				letter-spacing: 2px;
				line-height: 30px;
				font-weight: 200;
				transition: all 0.3s ease 0s;
				cursor: pointer;
				&:hover{
					color: #ffcb0d;
					background-color: #121d1f;
				}
			}
		}
	}
}

/* Botones */
.styled-button{
	color: #000;
    background-color: transparent;
    border-color: #000;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: 0;
    font-family: inherit;
    transition: all 0.3s ease 0s;
    &:hover{
    	background: #000;
    	color: #fff;
    }
}
// Footer
footer{
	position: relative;
}
.footer-site{
	background-color: #121d1f;
	padding: 50px 0 40px 0;
    color: #fff;

	.social{
		.container{
			text-align: center;
			ul{
				padding: 0;
				list-style-type: none;
				li{
					display: inline-block;
	    			margin: 0 20px;
	    			a{
	    				i.fa{
	    					font-size: 30px;
						    padding: 4px 5px;
						    color: #fff;
						    transition: all 0.5s;
						    &:hover{
						    	color: $main-color;
						    }
	    				}
	    			}
				}
			}
			p{
				font-family: $font;
				letter-spacing: 1px;
			}
		}
	}
}
.color-changer{
	position: absolute;
	right: 20px;
	font-family: $font;
	bottom: 12px;
	.pick-color{
		width: 20px;
		height: 20px;
		margin-left: 5px;
		display: inline-block;
		cursor: pointer;
	}

	.blue{
		background-color: $color-2;
	}
	.pink{
		background-color: $color-1;
	}
	.yellow{
		background-color: $main-color;
	}
}
.active-color{
	border: 2px solid #fff;
}



//CV
#about-me{
	padding: 50px 0;
    font-family: $font;
    font-weight: 200;

    img{
    	border-radius: 50%;
	    width: 200px;
	    height: 200px;
	    display: inline-block;
    }
    .about-download-cv{
    	margin-top: 20px;
    }
}
#cv-online{
	font-family: $font;
	.section-title{
		padding: 25px 0 45px 0;
		h2{
			line-height: 20px;
		    margin: 0;
		    color: #121d1f;
		    font-weight: 200;
		    margin-bottom: 30px;
		    font-size: 20px;
		    text-transform: uppercase;
		}
		hr{
			width: 200px;
		}
	}
	.timeline{
		position: relative;
	    padding: 0;
	    list-style: none;

	    &:before{
	    	content: "";
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 40px;
		    width: 2px;
		    margin-left: -1.5px;
		    background-color: #eee;
		    left: 50%;
	    }
	}
	.timeline>li {
	    position: relative;
	    margin-bottom: 100px;
	    min-height: 170px;
	}
	.timeline>li .timeline-image {
	    z-index: 100;
	    position: absolute;
	    border: 1px solid #eee;
	    border-radius: 100%;
	    text-align: center;
	    background: #fff;
	    left: 50%;
	    width: 150px;
	    height: 150px;
	    margin-left: -75px;
	    background-color: #ffcb0d;
	    h4{
	    	text-transform: uppercase;
	    	font-size: 18px;
    		margin-top: 40px;
    		font-weight: 400;
	    }
	}

	.timeline>li .timeline-panel {
	    position: relative;
	    padding: 0 20px 0 100px;
	    text-align: right;
	    float: left;
    	width: 41%;
    	padding: 10px 20px 20px 100px;
	}
	.timeline .timeline-heading{
		h4{
		    margin-top: 0;
		    text-transform: uppercase;
		    font-size: 16px;
		} 
	    .subheading {
		    text-transform: none;
		    color: $main-color;
		    font-size: 20px;
		}
	}
}


//COLOR CHANGER
.pink-color{
	background-color: $color-1;
}
.blue-color{
	background-color: $color-2;
}
.yellow-color{
	background-color: $main-color;
}

.pink-color-footer, .pink-color-header{
	&:hover{
		color: $color-1 !important;
	}
}

.blue-color-footer, .blue-color-header{
	&:hover{
		color: $color-2 !important;
	}
}

.yellow-color-footer, .yellow-color-header{
	&:hover{
		color: $main-color !important;
	}
}
