// Import files
@import '_home';
@import '_contact';
@import '_variables';



/* Menu NavBar */
.menu-navbar{
	background-color: #121d1f;
	color: #fff;
	text-transform: uppercase;
	ul{
		float: right;
		list-style-type: none;
		height: 60px;
		li{
			a{
				text-decoration: none;
				font-size: 15px;
				color: #fff;
				letter-spacing: 2px;
				line-height: 30px;
				font-weight: 200;
				transition: all 0.3s ease 0s;
				cursor: pointer;
				&:hover{
					color: #ffcb0d;
					background-color: #121d1f;
				}
			}
		}
	}
}

/* Botones */
.styled-button{
	color: #000;
    background-color: transparent;
    border-color: #000;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: 0;
    font-family: inherit;
    transition: all 0.3s ease 0s;
    &:hover{
    	background: #000;
    	color: #fff;
    }
}
// Footer
footer{
	position: relative;
}
.footer-site{
	background-color: #121d1f;
	padding: 50px 0 40px 0;
    color: #fff;

	.social{
		.container{
			text-align: center;
			ul{
				padding: 0;
				list-style-type: none;
				li{
					display: inline-block;
	    			margin: 0 20px;
	    			a{
	    				i.fa{
	    					font-size: 30px;
						    padding: 4px 5px;
						    color: #fff;
						    transition: all 0.5s;
						    &:hover{
						    	color: $main-color;
						    }
	    				}
	    			}
				}
			}
			p{
				font-family: $font;
				letter-spacing: 1px;
			}
		}
	}
}
.color-changer{
	position: absolute;
	right: 20px;
	font-family: $font;
	bottom: 12px;
	.pick-color{
		width: 20px;
		height: 20px;
		margin-left: 5px;
		display: inline-block;
		cursor: pointer;
	}

	.blue{
		background-color: $color-2;
	}
	.pink{
		background-color: $color-1;
	}
	.yellow{
		background-color: $main-color;
	}
}
.active-color{
	border: 2px solid #fff;
}


//COLOR CHANGER
.pink-color{
	background-color: $color-1;
}
.blue-color{
	background-color: $color-2;
}
.yellow-color{
	background-color: $main-color;
}

.pink-color-footer, .pink-color-header{
	&:hover{
		color: $color-1 !important;
	}
}

.blue-color-footer, .blue-color-header{
	&:hover{
		color: $color-2 !important;
	}
}

.yellow-color-footer, .yellow-color-header{
	&:hover{
		color: $main-color !important;
	}
}


//GALERIA
