.container{
	width: 100%;
}
.content{
	width: 100%;
}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 

#text-1 {
  animation: popup 10s 6.5s ease infinite;
}